<div class="jumbotron">
  <h1>Seat Yourself</h1>
  <p class="lead">Search Restaurants and make reservations</p>
  <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
</div>
